*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family:arial;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
    margin:0px;
    padding:0px;
    list-style:none;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}
#scrollUp{
    background:url('images/top.png') no-repeat;
    height:38px;
    width:38px;
    right:20px;
    bottom:50px;
    text-indent:-9999px;
}
/* ========end default style========= */

form {
    margin: 0 auto;
    width: 60%;
}
.fathers, .mothers,
.birthDate, .mobile,
.occupation, .eduStatus,
.jobStatus, .nationality,
.nid, .passportId,
.fax, .height,
.zipCode, .city{
    float: left;
    width:48.6%;
}
.skill, .language, .interest {
  float: left;
  width: 31.5%;
}

.fathers,.birthDate,.occupation,.jobStatus,.nid,.skill,.language,
.fax,.zipCode{
    margin-right: 15px;
}
.bio textarea {
    resize: none;
}
input, textarea, select, button {
  border-color: #66afe9 !important;
}
.btn.btn-default {
  margin-bottom: 50px;
}







