#minus, #plus {
	background: none repeat scroll 0 0 #2C2C2C;
	display: inline-block;
	font-size: 25px;
	height: 28px;
	position: relative;
	text-align: center;
	top: -4px;
	width: 23px;
	color: #ddd;
	cursor: pointer;
}
#plus {
	line-height: 27px;
	top: 1px;
}
.tableremoveborder th {
	border-top: none !important;
}
